section > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100px;
    font-size: 1.6rem;

    label {
        color: var(--text-color);
        font-size: 1.2em;
    }
    > i {
        font-size: 1.4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        bottom: -15px;
        z-index: 1;
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 5px;
            border-radius: 50%;
            width: 57px;
            height: 15px;
            background-color: var(--background-color);
            z-index: -1;
        }
    }
    button, input[type='button'] {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 15px;
        background-color: var(--primary-color);
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        color: white;
        transition: all 0.6s ease-in-out;
        
        i {
            font-size: 1.2em;
        }
        i:nth-child(2) {
            position: absolute;
            bottom: -3px;
            font-size: 1.8rem;
        }

        &.error {
            background-color: var(--error-color);
        }

        &:hover {
            transform: scale(1.1);
            background-color: var(--selected-color);
        }
    }
}



section > i { 
    font-size: 10rem;
    color: var(--text-color);
}