@use "sass:math";
@import "buttons";

// $card-width: clamp(360px, 90%, 600px);
$card-width: clamp(360px, 100vw, 600px);
$card-height:clamp(200px, 50%, 300px);
$font-size: clamp(1rem, 2vw, 2rem);
$vinyls_detail-width: 15vw;

// rotating cards
.flip {
    // transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
        &:not(.active) {
            transform: rotateY(180deg);
            display: none;
        }
        &.order {
            visibility: hidden;
            opacity: 0;
        }   
        &.shipping {
            visibility: hidden;
            opacity: 0;
        }
    }
}

@keyframes highlight {
    0% {
        color: var(--text-color);
    }
    50% {
        color: var(--selected-color);
    }
    100% {
        color: var(--text-color);
    }
}

.card {
    position: relative;
    height: $card-height;
    width: $card-width;
    max-width: 800px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: .5rem;
    padding: 0.5rem;

    .btn-specular {
        display: inline-flex;
        background: none;
        border: none;
        flex-wrap: nowrap;
        flex-direction: row;
        cursor: pointer;
        color: var(--text-color);
        position: absolute;
        top: 0.5rem;
        i {
            font-size: 8vw;
        }
        animation: highlight infinite reverse 3s ease-in-out;
    }
}



.order {
    display: inline-block;
    
    header {
        float: left;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 2px solid var(--border-color);
        padding: 0.5rem;

        span {
            font-size: .8rem;
            position: absolute;
            top: 10px;
            left: 10px;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            color: var(--text-color);
            text-decoration: none;
            position: relative;

            i {
                font-size: 12vw;
            }
            h2 {
                font-size: 4.0vw;
            }
        }
    }

    .order-details {
        height: 100%;
        width: 60%;
        display: inline-flex;
        margin: 0;
        padding: 0;
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        ul {
            max-height: $card-height;
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;

            li {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                color: var(--text-color);
                text-decoration: none;
                position: relative;
                margin: 0.2rem;
                max-height: $card-height;
                width: $vinyls_detail-width;
                img {
                    // height: $vinyls_detail-width;
                    width: $vinyls_detail-width;
                    position: relative;
                }

                h6 {
                    max-width: 40px;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 2vw;
                }

                p {
                    font-size: 2vw;
                }
            }
        }
    }

    footer {
        width: 10%;
        height: 100%;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding: 0.5rem;

        .btn-specular {
            right: 0;
        }

        span {
            display: inline-block;

            p:first-child {
                display: block;
                font-size: 0.4rem;
            }

            p {
                display: block;
                font-size: 0.6rem;
            }
        }
    }
}

.shipping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
        display: inline-flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        height: 100%;
        
        .btn-specular {
            left: 0;
        }
        span {
            h4 {
                font-size: 0.6rem;
            }
            p {
                font-size: 0.4rem;
            }
        }
        i {
            margin-left: 0.5rem;
            font-size: 1.4rem;
        }
    }

    .tracking {
        margin-top: 0.5rem;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        flex-wrap: nowrap;


        p {
            font-size: 0.3rem;
        }
        .progress-bar {
            margin-left: 1rem;
            margin-right: 1rem;
            display: inline-flex;
            flex-direction: column;
            width: 80%;
            
            .bar {
                width: 100%;
                height: 5px;
                background-color: var(--background-color);
                border-radius: 5px;
                position: relative;
                box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
                margin: 0.3rem 0 0.3rem 0;
                z-index: 1;
                .progress {
                    background-color: var(--selected-color);
                    width: 2%; // javascript dynamic
                    height: 100%;
                    border-radius: 5px;
                    position: relative;
                    animation: forwards progress 120s ease-out;
                    // circle
                    .dot {
                        position: absolute;
                        top: -3.2px;
                        right: 0;
                        content: "";
                        border-radius: 50%;
                        width: 12px;
                        height: 12px;
                        background-color: var(--background-color);
                        border: 0.2px solid var(--selected-color);
                    }
                    p {
                        font-size: 0.4rem;
                        position: absolute;
                        bottom: -10px;
                        min-width: 40px;
                        right: -15px;
                    }
                }
            }
            @keyframes progress {
                0% {
                    width: 2%;
                }
                20% {
                    width: 20%;
                }
                100% {
                    width: 100%;
                }
            }
        }
    }

    footer {
        display: inline-block;
        flex-direction: row;
        margin: 0.2rem;
        width: 100%;
        justify-content: space-between;
        .toggle {
            float: left;
            width: 50%;
            cursor: s-resize;
            &.active {
                cursor: n-resize;
                p {
                    visibility: visible;
                    opacity: 1;
                }
            }
            span {
                display: inline-flex;
                flex-direction: row;
                justify-content: baseline;
                p {
                    visibility: visible;
                    opacity: 1;
                    font-size: 0.4rem;
                }
                i {
                    font-size: 0.6rem;
                }
            }
            p {
                font-size: 0.3rem;
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}

.cart {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    header {
        width: 10%;
        .controls {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;
            button {
                width: 100%;
                height: 100%;
                border: 0;
                border-radius: 15px;
                background-color: inherit;
                i {
                    font-size: 1.2rem;
                }
            }
            select {
                width: 100%;
                height: 100%;
                font-size: 0.6rem;
                border: 0;
                border-radius: 5px;
                background-color: var(--background-color);
                color: var(--text-color);
                padding: 0.5rem;
                margin: 0.5rem;
                cursor: pointer;
                option {
                    color: var(--text-color);
                    background-color: var(--background-color);
                }
            }
        }

    }
    .product-details {
        width: 80%;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        
        div {

            img {
                width: 70px;
                height: 70px;
                margin-right: 0.5rem;
            }
        }

    }

    footer {

    }
}

.vinyl-cover {
    width: 100px;
}